<div class="row">
	<div class="col-md-12">
		<h4>About Us</h4>
		<hr/>
		<div class="row">
			<div class="col-md-9">
				<h4>Our History</h4>
				<p>Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.</p>
				<p>The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.</p>
			</div>
			<div class="col-md-3 card">
				<h3>Facts At a Glance</h3>
				<p>Started</p>
				<p class="margin-left-5">3 Feb,2013</p>
				<p>Major Stake Holder</p>
				<p class="margin-left-5">HK Fine Foods Inc.</p>
				<p>Last year's Turnover</p>
				<p class="margin-left-5">$1,250,375</p>
				<p>Employees</p>
				<p class="margin-left-5">40</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 card">
				<p><b>You better cut the pizza in four pieces beacuse i'm not hungry enough to eat siz.</b></p>
				<p>-- Yogi Berra, The Wit and Wisdom of Yogi Berra, P.Pepe, Diversion Books, 2014</p>
			</div>
		</div>
		<h4>Corporate leadership</h4>
		<div class="row" *ngFor="let leader of leadershipInfo">
			<div class="col-md-1">
				<img [src]="leader.image" alt="{{leader.name}}" class="img-rounded" style="max-height: 50px;">
			</div>
			<div class="col-md-11" style="font-size: 12px;">
				<h4>{{leader.name}}, {{leader.abbr}}</h4>
				<p>{{leader.designation}}</p>
				<p>{{leader.description}}</p>
			</div>
		</div>

	</div>
</div>