<div class="container" style="margin-left: 10px">
     <div class="row">
        <div class="col-md-12">
           <h3>Contact Us</h3>
           <hr>
        </div>
     </div>
    <div class="row">
        <div class="col-md-4">
	      <h3>Location Information</h3> 
          <div>
                <h4>Our Address</h4>
                <address>
		              121, Clear Water Bay Road<br>
		              Clear Water Bay, Kowloon<br>
		              HONG KONG<br>
		              <i class="fa fa-phone"></i>: +852 1234 5678<br>
		              <i class="fa fa-fax"></i>: +852 8765 4321<br>
		              <i class="fa fa-envelope"></i>: 
                        <a href="mailto:confusion@food.net">confusion@food.net</a>
		           </address>
               <p></p>
                <div>
                    <a href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
                    <a><i class="fa fa-skype"></i> Skype</a>
                    <a href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
          </div>
        </div>
        <div class="col-md-6">
            <h4>Map of our Location</h4>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Send us your Feedback</h3>
        <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" class="form-control" formControlName="firstname" required>
                <span [hidden]="!formErrors.firstname">{{formErrors.firstname}}</span>
              </div>              
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" class="form-control" formControlName="lastname" required>
                <span [hidden]="!formErrors.lastname">{{formErrors.lastname}}</span>
              </div>              
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="number" id="phone" class="form-control" formControlName="phone">
                <span [hidden]="!formErrors.phone">{{formErrors.phone}}</span>
              </div>              
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email" required>
                <span [hidden]="!formErrors.email">{{formErrors.email}}</span>
              </div>              
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  <input type="checkbox" formControlName="agree" (change)="onChange()"> May we contact you?
                </label>
              </div>              
            </div>
            <div class="col-md-2">
              <select class="form-control" formControlName="contacttype">
                <option value="" [selected]="feedbackForm.controls.contacttype.value == null">--Select--</option>
                <option value="none">None</option>
                <option value="email">Email</option>
                <option value="phone">Phone</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label for="comments">Comments</label>
              <textarea id="comments" class="form-control" formControlName="comments" rows="6"></textarea>
            </div>
          </div>
          <button type="Submit" class="btn btn-primary" [disabled]="feedbackForm.invalid">Submit</button>
        </form>
      </div>
    </div>
</div>
